<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href='/static/main.css' />
</head>
<body>
    <h1>Contact Information</h1>
    <p>The team members can be reached for information on tbis project through their Virginia Tech Emails
    <p>Johanna Johnson - johannaj@vt.edu</p>
    <p>Gabe Palomino - gabepalomino@vt.edu</p>
    <p>Lauren Williams - laurenw22@vt.edu</p>
    <p>Walker Berndt - walkerberndt@vt.edu</p>
    <div>
        <a href="/" > Return </a>
    </div>
</body>
</html>