
<!--  how to use css in python_ flask-->
<!DOCTYPE html>
<html lang="en">
<head>
<!--  Load CSS in Flask with html-->
<link rel="stylesheet" href='/static/main.css' />
<!--  Load JavaScript in Flask with html-->

<img src="https://ibb.co/MSbjHhP" alt="Website Logo">

  </head>
  <body>
    <h1>EcoWeb Certification Searcher</h1>
    <p>Enter Name of Company to find information on known Eco Certifications</p>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="about">About</a>
      <a href="contact/">Contact</a>
      <a href="search/">Enter</a>
      <input type="text" placeholder="Search..">
    </div> 
    <p>EcoCerch currently only gives information on 5 certifications</p>
</body> 
</html>